/* Reset Browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Fira Sans", sans-serif;
    background-color: #181A1B;
}

/* header */
.header {
    background-color: #232627;
    margin-bottom: 60px;
}
.header-content {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    width: 105px;
    object-fit: cover;
    margin: 20px 0 20px 0;
}
.header-content span {
    color: #8D8D8D;
    font-size: 16px;
}
.shopping {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    position: relative;
}
.cart i {
    color: #8D8D8D;
}
.cart a:hover {
    opacity: 0.7;
}

.number-product {
    position: absolute;
    background-color: #9CCF24;
    border-radius: 50%;
    top: -15px;
    right: -15px;
}
.number-product p {
    margin: 3px 8px 3px 8px;
    font-size: 10px;
}
/* cart */





/* footer */
.footer {
  margin-top: 50px;
  background-color: #232627;
}
.footer-content {
  text-align: center;
}
.terms-service {
  display: flex;
  justify-content: center;
}
.footer-content p {
  font-size: 10px;
  line-height: 10px;
  color: #8D8D8D;
}
.footer-content p:hover {
  opacity: 0.6;
}
.terms-service p {
  font-size: 16px;
  margin: 25px 10px;
}




